@charset "UTF-8";



body {
    font-family: Noto Sans JP, sans-serif;
    font-size: 100%;
    background-color: #175084;
    margin: 0;
}

.index {
    overflow: hidden;
    width: 100%;
    background-size: cover;
}

/* link styles */
a:link {color: white;}
a:visited {color: #D1FF73;}
a:focus, a:hover, a:active { color: #BBDAF2; }

/* header styles */
header {
    color: #175084; 
    text-align: center;
    height: ;
}

nav {
    display: inline-block;
    background-color: #9bde43;
    width: 100%;
    padding-top: 1em;
    padding-bottom: 1em;
    text-align: center;
    margin: 0;
}

a {
    padding-right: 120px;
    padding-left: 120px;
    font-family: 'Montserrat';
    font-weight: 700;
    text-decoration: none;
    text-transform: uppercase;
}

.gif {
    height: 470px;
    float: center;
    padding-top: 5.8em;
    padding-right: 1em;
}

.gifarea {
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
    float: left;
    width: 50%;
}

.row1 right {
   background-color:  color: #175084;    
}

.arrows {
    width: 2em;
    position: relative;
    margin-top: 36.5em;
    float: right;
}

.row {
    overflow: hidden;
    margin: 0;
    width: 100%;
}

.left {
    padding: 0;
    margin-top: 0;
    margin-bottom: 0;
    float: left;
    width: 50%;
    height: 650px;
}


.right {
   width: 50%;
   background-color: #d4effc;
   color: #175084;
   margin-top: 0;
   margin-bottom: 0;
   float: left;
   height: 700px;
   padding: 0;
    
}

.photo {
   float: left;
   margin-bottom: 1.2em;
   padding-bottom: 0;
}

.body {
   padding-left: 7em;
   padding-bottom: 0;
   float: left;
   width: 550px;
}



.logo {
   width: 500px;
   float: center;
   padding-top: 12em;
}
h2 {
   font-family: 'Montserrat', bold; 
   text-transform: none;
   letter-spacing: .1em;
   color: #D1FF73;
   padding-top: 3em;
   padding-bottom: -3em;
   padding-right: 0;
   padding-left: 3.5em;
   font-size: 23px;
}
p{
   font-size: .9em;
   float: left;
   padding: 2em;
   margin-left: 28em;
}
p1 {
   max-width: 300px;
}

footer {
   text-align: center;
   width: 100%;
   color: #175084;
   background-color: #D1FF73;
   text-align: center;
   font-size: .8em;
   padding-right:
   padding-left: 30px;
   margin: 0;
   overflow: hidden;
   height: 5.5em;
}
.smalllogo{
   width: 80px;
   margin-top: 1.9em;
   margin-left: 2.75em;
   margin-bottom: ;
   float: left;
   margin-right: 14em;
}
h1 {
   font-family: 'Bookman Old Style', bold;
   font-size: 50px;
   margin-top: 3em;
   margin-bottom: 0.3em;
}

button {
   font-family: 'Montserrat';
   font-size: 15px;
   font-weight: 700;
   letter-spacing: .05em;
   color: #D1FF73;
   background-color: #175084;
   padding: 1.5em;
   border: 0;
   border-radius: 1.25em;
   margin-right: 0;
   margin-top: 4em;
   margin-left: 7em;
}
.questions {
   margin-left: 1em;
}
.socialmedia {
   margin-left: 7em;
}
.facebook, .instagram, .twitter {
   width: 3em;
   height: 3em;
   margin-left: 0;
   margin-right: 1em;
   margin-top: 2em;
}